<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- Link to Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/auth/static/css/admin_dashboard.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/inputmask/dist/inputmask.min.js"></script>

</head>
<body class="d-flex flex-column min-vh-100">
  <!-- Header -->
  <header class="bg-primary text-white text-center mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Library Management System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item px-2">
              <a class="nav-link" href="admin_dashboard.html">My Dashboard</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#">Catalogue View</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#">Account</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="manager_login.html" style="background-color: #E3E3E3; border-radius: 15px">Log Out</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="container my-auto d-flex justify-content-center">
    <!-- Content goes here -->
    <div class="admin-dashboard mb-5 p-4 bg-light align-items-center justify-content-center ">
        <h1 class="fs-1 mb-3" style="text-align: center;" id = "greeting"></h1>
        <div class="container">
            <div class="row p-4">
                <div class="col-md">
                    <button class="btn p-5 w-100 h-100">
                        <h1>🔎</h1>
                        <h3>View Inventory</h3>
                        <p class="fs-6">View current catalogue</p>
                    </button>
                  </div>
                  <div class="col-md">
                    <button class="btn fs-4 p-5 w-100 h-100">
                        <h1>💵</h1>
                        <h3>Manage Fines</h3>
                        <p class="fs-6">Set, update, and waive fines for users.</p>
                    </button>
                  </div>
                  <div class="col-md">
                    <button class="btn fs-4 p-5 w-100 h-100">
                        <h1>🕒</h1>
                        <h3>Book Holds</h3>
                        <p class="fs-6">Approve or deny book reservations and holds.</p>
                    </button>
                  </div>
            </div>
        </div>
        <div class="row p-4">
            <div class="col-md">
                <button class="btn fs-4 p-5 w-100 h-100" onclick="editInventory()">
                    <h1>📝</h1>
                    <h3>Edit Inventory</h3>
                    <p class="fs-6">Add, edit, or delete book entries</p>
                </button>
              </div>
              <div class="col-md">
                <button class="btn fs-4 p-5 w-100 h-100">
                    <h1>🪪</h1>
                    <h3>Manage Users</h3>
                    <p class="fs-6">Add, edit, deactivate, or delete user accounts.</p>
                </button>
              </div>
              <div class="col-md">
                <button class="btn fs-4 p-5 w-100 h-100">
                    <h1>✉️</h1>
                    <h3>Notifications</h3>
                    <p class="fs-6">Configure notification emails, loan periods, and overdue policies.</p>
                </button>
              </div>
        </div>
    </div>
</main>

  <!-- Footer -->
  <footer class="text-white text-center p-1 mt-auto" style="background-color: #162D3A; color: white;">
    <p>2025 Capstone Project</p>
  </footer>

  <!-- Include Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/auth/static/js/admin_dashboard.js"></script>
</body>
</html>
