<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <!-- Link to Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/auth/static/css/reset_password.css" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

  <!-- Header -->
  <header class="bg-primary text-white text-center mb-4">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Library Management System</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item px-2">
              <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#">Browse</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Explore
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Popular</a></li>
                  <li><a class="dropdown-item" href="#">Newest</a></li>
                  <li><a class="dropdown-item" href="#">Bestsellers</a></li>
                </ul>
              </li>
            <li class="nav-item px-2">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item px-2">
              <a class="my-library nav-link" href="#">My Library</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <!-- Main Content -->
  <main class="container my-auto d-flex justify-content-center">
    <!-- Content goes here -->
    <div class="reset-password-form col-12 col-md-6 bg-light align-items-center justify-content-center ">
        <h1 class="title fs-2">Forgot Password 🔐</h1>
        <form id="reset-password-form">
            <div class="row">
              <div class="col-2"></div>
              <div class="col-8">
                <div class="form-group p-3">
                  <label for="password">New Password:</label>
                  <input type="password" class="form-control rounded px-10 mb-2" id="password" name="first" placeholder="Enter your new password" required>
                  <label for="re-password">Re-enter Password:</label>
                  <input type="password" class="form-control rounded px-10 mb-2" id="re-password" name="second" placeholder="Re-enter your new password" required>                  
                  <div id="passwordErrorMessage" class="text-danger p-0 m-0" style="display:none;"></div>
                  <button type="submit" class="btn btn-custom-size w-100 mt-3 mb-2">Submit</button>                
                </div>
                <div class="col-2"></div>
              </div>
            </div>
          </form>
    </div>
</main>

  <!-- Footer -->
  <footer class="footer text-white text-center p-1 mt-auto">
    <p>2025 Capstone Project</p>
  </footer>

  <!-- Include Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/auth/static/js/reset_password.js"></script>
</body>
</html>
