.btn-custom-size {
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
    background-color: #162D3A;
    color: white;
    transition: background-color 0.3s;
  }

  .forgot-password-link {
    font-size: 12px;
  }

  .btn-transparent {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 15px;
    color: #132b37; 
    padding: 6px 0;
  }
  
  .btn-transparent:hover {
    background-color: transparent;
  }

  .footer-home {
    background-color: #132b37;
    color: white;
    padding: 10px 0;
    width: 100%;
  }